.manager {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    width: 100%;
    background-color: #9A3434;
    color: white;
  }
  
  .navbar-brand {
    margin-right: auto;
    padding: 10px;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: white;
    color: #9A3434;
  }
  