@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/*-----Root Color-----*/
:root {
    --color-primary: #9A3434;
    --color-dark: #301210;
    --color-danger: #E20F0F;
    --color-success: #13c044;
    --color-success-light: #84E0BE;
    --color-warning: #ffbb55;
    --color-info-dark: #cfb4ab;
    --color-info-light: #f8eae7;
    --color-gradient: linear-gradient(135deg, rgba(255, 92, 51, 1) 0%, rgba(179, 74, 55, 1) 33%, rgba(166, 36, 31, 1) 66%, rgba(48, 18, 16, 1) 100%);

    --box-border-radius: 2rem;
    --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.4);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat Regular;
    font-size: 0.88rem;
    background: #F0F0F0;
    overflow-x: hidden;
}

main {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.container {
    display: grid;
    max-width: 100vw;
    height: 100vh;
    margin: 0 5rem 0 0;
    padding: 0;
    background: #F0F0F0;
    gap: 1.8rem;
    position: relative;
}

.container> :nth-child(2) {
    margin-top: 1rem;
    padding-left: 16rem;
    margin-right: 3rem;
}

a {
    color: black;
    text-decoration: none;
}

.box {
    padding: 0 5px 0 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: grey;
}

p {
    color: black;
    margin-bottom: 0px !important;
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error-message-fadeout {
    background-color: #ffe4e4;
    border-radius: 1rem;
    padding: 10px;
    margin-top: 10px;
    animation: fadeout 3s linear forwards;
}

.row.addbtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.inner-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.inner-table th,
.inner-table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.inner-table th {
    background-color: #f2f2f2;
}

.inner-table tr:last-child td {
    border-bottom: none;
}

.expanded-row {
    background-color: #f2f2f2;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


/*<!-------------------- Start Side Menu -------------------->*/


aside {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    font-family: Montserrat Medium;
    background: var(--color-primary);
}

aside .top {
    align-items: center;
    margin-top: 2.5rem;
}

aside .top .close {
    margin-left: 1.2rem;
}

aside .logo {
    justify-content: center;
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 8rem;
    height: 8rem;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

aside h3 {
    height: 1rem;
    font-weight: 100;
}

aside .sidebar a {
    display: flex;
    color: white;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 200ms ease;
}

aside .sidebar h3 {
    transition: all 200ms ease;
}

aside .sidebar a span {
    font-size: 1.8rem;
    font-weight: 300;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    margin-top: 5rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-info-light);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    border-left: none;
    margin-left: 0.5rem;
    width: 105%;
    border-radius: 30px 0px 0px 30px;
}

aside .sidebar a.active span {
    margin-left: 1.5rem;
}


aside .sidebar a:hover {
    color: var(--color-dark);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar a:hover.active {
    color: var(--color-info-dark);
}

aside .sidebar a:hover.active span {
    margin-left: 2rem;
}



/*<!-------------------- Profile -------------------->*/



.main-body {
    margin-top: 3rem;
    padding-left: 1rem;
}

.list-group {
    --bs-list-group-color: none;
    --bs-list-group-bg: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: var(--box-border-radius) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card li h6 {
    margin-top: 0.7rem;
}

.card .btn,
.main-body .btn {
    display: inline-block;
    text-align: center;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.card .btn.btn-edit {
    display: inline-block;
    text-align: center;
    background-color: var(--color-info-light);
    border: 1px solid #2a2a2a;
    box-shadow: var(--box-shadow);
    color: #2a2a2a;
    transition: all 0.3s;
}

.card .btn:hover,
.main-body .btn:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.card .btn.btn-edit:hover {
    background-color: var(--color-info-dark);
    border: 1px solid transparent;
    color: #fff;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
}

.gutters-sm {
    justify-content: center;
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.card-body form input {
    width: 100%;
}


/*<!-------------------- Manage -------------------->*/


.manager {
    margin-left: 2rem;
}

.managepage {
    display: flex;
    flex-direction: column;
}

.mininav {
    display: flex;
    width: 100%;
    background-color: #9A3434;
    margin-left: 1rem;
    margin-right: 2rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    justify-content: space-between;
    border-radius: 30px 30px 30px 30px;
    box-shadow: var(--box-shadow);
}

.manager .table {
    border-radius: var(--box-border-radius);
    border: 1px black;
    width: 100%;
}

.manager .table tr button {
    background-color: rgba(0, 0, 0, 0);
}

tr:hover td {
    background-color: lightgray;
}

.manager .form,
.formProfile,
.main-body.payslip .formpayslip {
    background-color: white;
    width: 35rem;
    padding: 2rem;
    border-radius: var(--box-border-radius);
}

.manager .btn_create {
    margin: 1rem;
    width: fit-content;
    height: 3.4rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-primary);
    border-radius: var(--box-border-radius);
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.manager .btn_create:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.form-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.manager .form input,
.manager .form textarea,
.manager .form select,
.formProfile input,
.formProfile textarea,
.formpayslip input {
    width: 100%;
    height: 2rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-style: italic;
    font-weight: 550;
    color: black;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.manager .form select {
    height: 3.3rem !important;
}

.manager .row.butt,
.formProfile .row.butt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.manager .row.butt button,
.formProfile .row.butt button,
.main-body.payslip .formpayslip button {
    width: 8rem;
    height: 3.35rem;
    line-height: 51px;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--box-border-radius);
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.manager .row.butt button:hover,
.formProfile .row.butt button:hover,
.main-body.payslip .formpayslip button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.manager .table thead,
.manager .table tbody {
    font-weight: 300;
    font-size: 1.1rem;
}

.table>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--color-info-light);
    color: black !important;
}

.table>tbody>tr:nth-of-type(odd):hover>* {
    background-color: lightgray !important;
}

.table>tbody>tr:nth-of-type(odd)>td>button {
    color: black !important;
}

table.mdb-dataTable thead>tr>th.sorting_asc,
table.mdb-dataTable thead>tr>th.sorting_desc,
table.mdb-dataTable thead>tr>td.sorting_asc,
table.mdb-dataTable thead>tr>td.sorting_desc,
table thead.mdb-dataTable-head>tr>th.sorting_asc,
table thead.mdb-dataTable-head>tr>th.sorting_desc,
table thead.mdb-dataTable-head>tr>td.sorting_asc,
table thead.mdb-dataTable-head>tr>td.sorting_desc {
    padding-left: 20px;
}

table.mdb-dataTable thead>tr>td.sorting:hover,
table.mdb-dataTable thead>tr>th.sorting:hover,
table thead.mdb-dataTable-head>tr>td.sorting:hover,
table thead.mdb-dataTable-head>tr>th.sorting:hover {
    padding-left: 20px;
}

table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.6rem !important;
    display: block;
}

table thead.mdb-dataTable-head .sorting:before,
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    left: -0.1rem !important;
    margin-left: 0.2rem;
}

table thead.mdb-dataTable-head .sorting:before,
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:before {
    left: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.8rem !important;
}

.navbar-brand {
    margin-right: auto;
    padding: 10px;
    color: #000000;
    font-weight: 500;
    font-size: 40px;
}

nav {
    display: flex;
    transition: all 300ms ease;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 700ms ease;
}

nav a:hover {

    color: #4b0a0a;
}

nav a.active {
    background: var(--color-info-light);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    transition: 2ms;
}


/*<!-------------------- Container News -------------------->*/


.news {
    display: grid;
    border-radius: 20px;
    width: 100%;
    margin: 0;
    row-gap: 1rem;
    padding: 1rem;
    margin-top: 0.8rem;
}

.big-box {
    grid-column: span 2;
    grid-row: span 2;
}

.big-box {
    grid-column: span 2;
    background: white;
    border: 1px solid var(--color-dark);
    height: fit-content;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    transition: all 300ms ease;
}

.small-box {
    grid-column: span 1;
    grid-row: span 1;
}

main {
    margin-left: 1rem;
    margin-top: 2rem;
}

.news .col-lg-12 {
    background: white;
    border: 1px solid var(--color-dark);
    height: fit-content;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    transition: all 300ms ease;
}

.news .col-lg-8 {
    background: white;
    border: 1px solid var(--color-dark);
    height: max-content;
    min-height: 214px;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    transition: all 300ms ease;
}

.news .col-lg-6 {
    align-items: center;
}

.news .activity-calender {
    display: grid;
    justify-content: center;
}

.small-box {
    grid-column: span 1;
    grid-row: span 1;
}

.news .col-12 .row {
    margin-left: 5px;
    margin-top: 1.5rem;
    justify-content: center;
}

.news .col-lg-12:hover {
    box-shadow: none;
}

.news .row button {
    float: right;
    margin-right: 5px;
    width: 6.5rem;
    height: 3rem;
    text-align: center;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--box-border-radius);
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
    font-size: 0.8rem;
}

.news .row button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.news hr {
    background: linear-gradient(135deg, rgba(255, 92, 51, 1) 0%, rgba(179, 74, 55, 1) 33%, rgba(166, 36, 31, 1) 66%, rgba(48, 18, 16, 1) 100%);
    border-radius: 2px;
    height: 4px;
    max-width: 35%;
    opacity: 100% !important;
    border-top: 0 !important;
}

.dashboardnav {
    display: flex;
    width: 100%;
    background-color: #9A3434;
    align-items: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: var(--box-shadow);
    justify-content: flex-end;
}

.calendar {
    justify-content: center;

}

/*<!-------------------- Groups Page -------------------->*/


.inbox-header {
    text-align: center;
    margin-bottom: 20px;
}

.inbox-messages {
    display: flex;
    flex-direction: column;
}

.inbox-message {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    pointer-events: none;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.message-header h2 {
    margin: 0;
}

.message-header p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.message-body {
    font-size: 16px;
    line-height: 1.5;
}


/*<!-------------------- Project Page -------------------->*/


.projects-header {
    text-align: center;
    margin-bottom: 20px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.project-card h2 {
    margin: 0;
}

.project-card p {
    margin: 10px 0;
}

.project-details {
    display: flex;
    justify-content: space-between;
}

.project-detail {
    flex-basis: 30%;
}

.project-detail h3 {
    margin: 0;
}

.project-detail p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}


/*<!-------------------- Timeline -------------------->*/

.timeline {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .year {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .month {
        margin: 5px 5px 15px 5px;
    }

    .month-name {
        color: #ccbe88;
        font-weight: bold;
    }

    .day {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .date {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50px;
        border: none;
        outline: none;
    }

    .date.in-month:hover {
        cursor: pointer;
        background: #ccbe88;
    }

    .today {
        background: #ccbe88;
    }

    .date.prev-month,
    .date.next-month {
        color: grey;
    }
}


/*<!-------------------- Checklog -------------------->*/


.checklog .row {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.checklog .row button {
    margin-right: 0;
}

.checked-in {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}

.checked-out {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}


/*<!-------------------- Payment -------------------->*/


.detail-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-container .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}